.article-body {
  & > * {
    margin-bottom: 50px;
  }
  img {
    width: 100%;
    margin-bottom: 50px;
  }
  line-height: 40px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 18px;
  }

  p {
    font-size: 23px;
    font-family: "Baskerville", "Arial";
    margin-bottom: 20px;
  }

  ul,
  ol {
    margin-left: 20px;
    font-family: "Baskerville";
    font-size: 23px;
  }

  a {
    color: rgb(96, 96, 255);
    font-size: 23px;
    text-decoration: none;
    font-weight: bolder;

    &:hover {
      color: rgb(125, 125, 248);
    }
  }
  .image-heading {
    text-align: center;
    margin-bottom: 80px;
    margin-top: -80px;
    font-family: "Baskerville";
    font-size: 20px;
  }

  .table {
    width: 100%;
    font-family: "Baskerville";
    font-size: 24px;
    border-collapse: collapse;

    thead {
      font-weight: bold;
      font-family: "Gilroy";
    }
    td {
      border: 1px solid white;
      padding: 4px 20px;
      &.borderless {
        border-color: transparent;
      }
      &.center > * {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
        vertical-align: middle;
      }
    }
  }

  .btn-primary {
    background: #5ca5cc;
    padding: 10px 30px;
    font-size: 20px;
    font-family: "Gilroy";
    font-weight: bold;
    cursor: pointer;
  }

  .btn-delete {
    background: #cc5c89;
    padding: 10px 30px;
    font-size: 20px;
    font-family: "Gilroy";
    font-weight: bold;
    cursor: pointer;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 50px;
}
.form-label.sm {
  font-size: 18px;
}
.form-label {
  color: white;
  font-size: 30px;
}
.form-control {
  width: 100%;
  background-color: rgb(15, 15, 15);
  font-size: 30px;
  color: white;
  padding: 20px 40px;
  font-family: "Gilroy";
}

.form-control.sm {
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  font-family: "Gilroy";
}

.article-project-estimation {
}
