.clients {
  margin-bottom: 150px;
  .section-title {
    margin-bottom: 50px;
  }

  .client {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    border-radius: 8px;

    .client-image {
      max-width: 150px;
      width: 80%;
    }
  }
}
