.review {
  display: flex;
  margin-top: -150px;
  align-items: flex-start;
  @media (max-width: $media-md) {
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
  }
}

.review-image-wrapper {
  width: 50%;
  @media (max-width: $media-md) {
    width: 70%;
  }
}

.review-image {
  width: 100%;
}

.review-information-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  margin-top: 200px;
  height: 100%;
  @media (max-width: $media-md) {
    margin-top: 50px;
    padding-left: 0px;
  }

  @media (max-width: $media-xl) {
    margin-top: 180px;
  }
  @media (max-width: $media-lg) {
    margin-top: 100px;
  }
}

.review-title {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
}

.review-excerpt {
  font-family: "Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
}

.review-rating {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  align-items: flex-end;
  margin-top: 150px;
  @media (max-width: $media-md) {
    margin-top: 50px;
  }

  @media (max-width: $media-xl) {
    margin-top: 50px;
  }
  @media (max-width: $media-lg) {
    margin-top: 30px;
  }
}

.review-rating-score {
  font-style: normal;
  font-weight: 800;
  font-size: 109px;
  line-height: 100px;
}

.review-excerpt {
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
}
