@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

@import "fonts";
@import "navbar";
@import "footer";
@import "header";
@import "blob";
@import "blog";
@import "projects";
@import "clients";
@import "article";
@import "review";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: black;
  color: white;
  font-family: "Gilroy";
}

.section-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  text-align: center;
}

.navbar-compensator {
  height: 150px;
}
